@font-face {
    font-family: "Lato";
    src: url(font/Lato/Lato-Regular.ttf) format(truetype);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#BABFC5;
    --text-white:#FFFFFF;
    --main-color2:#FFC107;
    --main-color3:#02132F;
    --main-color4:#DCE7EB;
    --header-bg-color:#021C49;
    --main-color6:#000000;
    --btn-color:#30A8DE;
    --main-linear1:#2863CA;
    --main-linear2:#0744AE;
    --main-color8:#D9D9D9;
    --main-color9:#274C8E;
}
html{
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
figure{
    display: block;
}
span{
    display: block;
}
body{
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.88;
}
.container{
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;
}
h1{
    font-size: 80px;
    font-family: "Lato";
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 4px;
}
h2, .h2-title{
    font-size: 43px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 4px;
    color: var(--main-color3)
}
h3, .h3-title{
    font-size: 37px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 5px;
    color: var(--text-white)
}
h4, .h4-title{
    font-size: 26px;
    font-family: "Lato";
    text-transform: uppercase ;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 4px;
    color: var(--text-white);
}
/* Header Section */
.header{
    background: var(--header-bg-color);
}
.navbar-brand{
    max-width: 163px;
}
.nav-fonts{
    font-family: "Lato";
    font-size: 16px;
    letter-spacing: 6px;
    font-weight: 400;
    line-height: 1.18;
    color: var(--text-white);
    transition: 0.5s ease all;
}
.nav-fonts:hover{
    color: var(--btn-color);
}
.cmn-btn{
    display: inline-block;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    transition: 0.5s ease all;
}
.cmn-btn:hover{
    background-color: var(--main-color2);
    color: var(--main-color6);
}

/* Banner section */
.hero-section{
    background-image: url(image/background.png);
    min-height: 800px;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-text{
    max-width: 800px;
    padding: 323px 0;
}
.banner-text h1{
    margin: 22px 0;
    color: var(--main-color3);
}
.banner-text-title{
    font-size: 27px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 22px;
    color: var(--main-color3);
}
.banner-text .h2-title{
    margin-bottom: 22px;
}
.header-btn{
    background: transparent;
    border: 1px solid var(--main-color3);
    color:var(--main-color3);
}
/* About Section */
.about-banner{
    background: url(image/about-banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 942px; 
}
.col-lg-7 .h4-title, .client-heading .h4-title{
    color: var(--main-color3);
}
.col-box{
    max-width: 662px;
    background:var(--header-bg-color);
    border-radius: 25px;
    padding: 89px 48px 59px 71px;
    color:var(--text-white);
}
/* Service Section */
.services{
  background: var(--header-bg-color);
  padding: 100px 0;
}
.service-card {
  background-image: linear-gradient(to bottom, #2863CA,#0744AE);
  border-radius: 15px;
  padding: 30px 25px;
}
.service-icon img {
  max-width: 52px;
  display: block;
}
.service-card a {
    display: block;
  color: var(--text-white);
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
}
.service-card a:hover{
    color: var(--main-color2);
}
.services-content {
  padding: 99px 0 0 30px;
}
.service-btn{
 background: transparent;
 border: 1px solid var(--text-white);
 color: var(--text-white);
}
.service-btn:hover{
    background: var(--btn-color);
}
/* Client Section */
.client{
    padding: 100px 0 150px 0;
}
.client-heading .h3-title{
    color: var(--main-color3);
}
.client-heading p{
    max-width: 1105px;
    margin: 0 auto;
    color: var(--main-color3);
}
.client-card{
    background-color: var(--main-color1);
    border-radius: 15px;
    padding: 30px 25px;
    box-shadow: 0 4px 44px 0 rgba(0,0,0,0.08);
    transform: scale(0.9);
    transition: 0.5s ease all;
}
.client-card:hover{
    transform: scale(1);
}
.client-card p{
    color: var(--main-color3);
}
.star{
    color: var(--main-color2);
}
.wrap{
    flex-wrap: wrap;
    align-items: center;
}
.client-info {
  display: flex;
}
.client-info img {
  max-width: 35px;
  height: 35px;
  object-fit: contain;
}
.client-box{
    position: relative;
    background: url(image/client-box.png) no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin-top: 100px;
}
.circle {
    position: absolute;
    top: -25px;
    right: -2px;
    z-index: -1;
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to bottom, #2863CA,#0744AE);
    opacity: 0.3;
    border-radius: 50%;
}
.client-box-btn{
    background: transparent;
    border: 1px solid var(--text-white);
    color: var(--text-white);
}
.client-box-btn:hover{
    background: var(--main-color2);
    color: var(--header-bg-color);
}
/* Footer Section */
.footer{
    background: var(--header-bg-color);
    padding-top: 113px;
}
.footer-logo a{
    max-width: 301px;
    display: block;
}
.icons a {
    display: inline-block;
    cursor: pointer;
    transition: 0.5 ease all;
}
.icons a:hover{
    transform: scale(1.2);
}
.footer-heading{
    text-transform: uppercase;
    font-size: 26px;
    color: var(--text-white);
    line-height: 1.34;
    letter-spacing: 4px;
    font-weight: 400;
}
.links{
    color: var(--text-white);
    font-size: 18px;
    line-height: 1.88;
}
.links a{
    display: inline-block;
    color: var(--text-white);
    transform: scale(1);
    transition: 0.5s ease all;
}
.links span a:hover{
    transform: scale(1.2);
    color: var(--main-color2);
}
.line{
    max-width: 100%;
    height: 1px;
    background: var(--text-white);
}
.copyright{
   font-size: 18px;
   letter-spacing: 0.6px;
   line-height: 1.94;
   text-transform: uppercase;
}
.copyright a{
    color: var(--text-white);
}
.copyright a:hover{
    color: red;
}